<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content">
    <div class="container-lg mt-5">
        <h1 th:text="|Сайт ${url.name}|">Сайт</h1>
        <table class="table table-bordered table-hover mt-3">
            <tbody>
            <tr>
                <td>ID</td>
                <td th:text="${url.id}"></td>
            </tr>
            <tr>
                <td>Имя</td>
                <td th:text="${url.name}"></td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td th:text="${#temporals.format(url.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container-lg mt-5">
        <h2 class="mt-5">Проверки</h2>
        <form th:attr="action=@{/urls/{id}/checks(id=${url.id})}" method="post">
            <button type="submit" class="btn btn-primary">Запустить проверку</button>
        </form>
        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-1">Код ответа</th>
                <th>title</th>
                <th>h1</th>
                <th>description</th>
                <th class="col-2">Дата проверки</th>
            </tr>
            </thead>
            <tbody th:if="${url.urlChecks}">
            <tr th:each="urlCheck, iterStat : ${url.urlChecks}">
                <td th:text="${url.urlChecks[iterStat.size - iterStat.count].id}"></td>
                <td th:text="${url.urlChecks[iterStat.size - iterStat.count].statusCode}"></td>
                <td th:text="${url.urlChecks[iterStat.size - iterStat.count].title}"></td>
                <td th:text="${url.urlChecks[iterStat.size - iterStat.count].h1}"></td>
                <td th:text="${url.urlChecks[iterStat.size - iterStat.count].description}"></td>
                <td th:text="${#temporals.format(url.urlChecks[iterStat.size - iterStat.count].createdAt
                    , 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</section>

</html>